




.list-type5{
width:410px;
margin:0 auto;
padding-top:20px;
}
.list-type5 ol {
list-style-type: none;
list-style-type: decimal !ie; /*IE 7- hack*/
margin: 0;
margin-left: 1em;
padding: 0;
counter-reset: li-counter;
}
.list-type5 ol li{
position: relative;
margin-bottom: 1.5em;
padding: 0.5em;
background-color: #5fa7e7;
padding-left: 58px;
}

.list-type5 a{
text-decoration:none;
color:white;
font-size:15px;
font-family: 'Raleway', sans-serif;

}

.list-type5 li:hover{
box-shadow:inset -25em 0 #6CD6CC;
-webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 1s;
}

.list-type5 ol li:before {
position: absolute;
top: -0.3em;
left: -0.5em;
width: 1.8em;
height: 1.2em;
font-size: 2em;
line-height: 1.2;
font-weight: bold;
text-align: center;
color: white;
background-color: #6CD6CC;
transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
z-index: 99;
overflow: hidden;
content: counter(li-counter);
counter-increment: li-counter;
}

.button a {
font-family: 'Raleway', sans-serif;
background: #F7F2E0;
display: block;    
padding: 10px;
color: black;
width: 150px;
font-size: 16px;
text-align: center;
border-radius: 6px;
box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.6);
text-decoration: none;
text-underline: none;
transition-property: background-color;
transition-duration: 1s; }
   
.button a:hover {

 

background-color: #6CD6CC;
color:white;
-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;

 

}    
